globalArguments:
  - "--global.sendanonymoususage=false"
  - "--global.checknewversion=false"
  - "--providers.kubernetesingress.allowexternalnameservices"
  - "--providers.kubernetescrd.allowexternalnameservices"

additionalArguments:
  - "--serversTransport.insecureSkipVerify=true"
  - "--log.level=INFO"

deployment:
  enabled: true
  replicas: 3
  annotations: {}
  podAnnotations: {}
  additionalContainers: []
  initContainers: []

ports:
  web:
    redirectTo: 
      port: websecure
  websecure:
    tls:
      enabled: true
  registry:
    port: 5000
    exposedPort: 5000
    protocol: TCP
    expose: 
      default: true
    tls:
      enabled: true
  postgres:
    port: 5432
    exposedPort: 5432
    protocol: TCP
    expose: 
      default: true
      
ingressRoute:
  dashboard:
    enabled: false

providers:
  kubernetesCRD:
    enabled: true
    ingressClass: traefik-external
  kubernetesIngress:
    enabled: true
    publishedService:
      enabled: false

rbac:
  enabled: true

service:
  enabled: true
  type: LoadBalancer
  annotations: {}
  labels: {}
  spec:
    loadBalancerIP: 192.168.1.200 # this should be an IP in the MetalLB range
  loadBalancerSourceRanges: []
  externalIPs: []